<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Django</a>
                        </li>
                        <li>
                            <a href="#">VueJS</a>
                        </li>
                        <li>
                            <a href="#">DRF</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">HTML</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Latest posts</h5>
        <div class="card-body">
            <h5 class="card-title">Post 1</h5>
            <p class="card-text">Text about something / Text about something / Text about something / Text about something / Text about something / Text about something / </p>
            <a href="#" class="card-link">Read</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Post 2</h5>
            <p class="card-text">Text about something / Text about something / Text about something / Text about something / Text about something / Text about something / </p>
            <a href="#" class="card-link">Read</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Post 3</h5>
            <p class="card-text">Text about something / Text about something / Text about something / Text about something / Text about something / Text about something / </p>
            <a href="#" class="card-link">Read</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Post 4</h5>
            <p class="card-text">Text about something / Text about something / Text about something / Text about something / Text about something / Text about something / </p>
            <a href="#" class="card-link">Read</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Post 5</h5>
            <p class="card-text">Text about something / Text about something / Text about something / Text about something / Text about something / Text about something / </p>
            <a href="#" class="card-link">Read</a>
        </div>
    </div>
</div>