<div class="card my-4">
    <h5 class="card-header">Comment: </h5>
    <div class="card-body">
        <from>
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </from>
    </div>
</div>
<div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="https://place-hold.it/50x50" alt="image">
    <div class="media-body">
        <h5 class="mt-0">John Lenon</h5>
        My important opinion about this post. My important opinion about this post. My important opinion about this post. My important opinion about this post.
    </div>
</div>