{% extends 'blog_website/base.html' %}

{% block title %} Thanks page {% endblock %}

{% block content %}
  <div class="container-fluid home-slider">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #343a40!important">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Thanks</h1>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--   BREAD CRUMBS   -->
        <nav aria-label="breadcrumbs" class="mt-4">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contacts</li>
          </ol>
        </nav>
        <p class="lead">Your message has been sent! Thanks.</p>
      </div>
    </div>
  </div>
{% endblock %}
